<h2>about this site</h2>

<h3>cptutils</h3>
<p>
  The
  <%= link_to('https://jjg.gitlab.io/en/code/cptutils/', 'cptutils') %>
  package is set of Unix command-line programs for converting
  between and modifying various formats of colour gradients.
  Originally written to aid construction of the gradient archive
  <%= link_to('http://seaviewsensing.com/pub/cpt-city/', 'cpt-city') %>,
  where 7,000 colour gradients can be browsed and downloaded.
</p>

<h3>cptutils-online</h3>
<p>
  Simplified online access to the conversion facilities provided by
  cptutils (version <%= @version %>). Created with
  <%= link_to('http://www.sinatrarb.com/', 'Sinatra') %>,
  styling provided by the
  <%= link_to('http://bootswatch.com/united/', 'Bootswatch United') %>
  theme.
</p>
<p>
  The code for this site is available on
  <%= link_to('https://gitlab.com/jjg/cptutils-online', 'GitLab') %>.
</p>

<h3>author</h3>
<p>
  <%= link_to('https://jjg.gitlab.io/', 'J.J. Green') %>
</p>
