<!DOCTYPE html>
<html lang="en-GB">
  <!-- Output from cptutils-online -->
  <head>
    <meta charset="UTF-8">
    <title><%= (['cptutils online'] + (@title or [])).join(' | ') %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Online conversion of colour gradients">
    <meta name="keywords" content="<%= (['convert', 'colour', 'gradient'] + (@keywords or [])).join(' ') %>">
    <meta name="author" content="J.J. Green">
    <%= link('css/bootstrap.min.css', media: 'screen', rel: 'stylesheet') %>
    <%= link('css/app.css', media: 'screen', rel: 'stylesheet' ) %>
    <%= link('favicon.ico', type: 'image/x-icon', rel: 'icon') %>
  </head>
  <body>
    <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-primary">
      <div class="container">
        <%= link_to('/', 'cptutils-online', cls: 'navbar-brand') %>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav">
            <%- @navs.each do |nav| -%>
              <li class="nav-item active">
                <%= link_to(nav[:url], nav[:text], cls: 'nav-link') %>
              </li>
            <%- end -%>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <%- if @js then -%>
        <p class='text-muted' id='noscript'>
          This site works better with javascript enabled.
        </p>
      <%- end -%>
      <h1>cptutils-online</h1>
      <%- if flash[:errors] then -%>
        <div class='alert alert-danger'>
          Error: <%= flash[:errors] %>
        </div>
      <%- end -%>
      <%= yield %>
      <%- if @js then -%>
        <script id='alias-json' type='application/json'>
        <%= @alias_dict.to_json %>
        </script>
        <script id='magic-json' type='application/json'>
        <%= @magic_dict.to_json %>
        </script>
        <%- @js.each do |target| -%>
          <script src="<%= url(target) %>"></script>
        <%- end -%>
      <%- end -%>
    </div>
  </body>
</html>
